.container {
    background: #ffff;
    color: #39275B;
    height: 100%;
    width: 90%;
    margin: 10px auto;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    line-height: 2;

    img{
        max-width: 500px;
        object-fit: contain;
    }
}


.text{
    margin: 15px 0;
}
 
.section{
    display: flex;
    flex-direction: row;
}


.divider {
    display: block;
    margin: 20px auto !important;
    width: 250px;
}

