.artContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    img {
        min-width: 300px;
        max-width: 500px;
        margin-right: 20px;
    }
}

.details {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1600px) {
    .artContainer {

        img {
            min-width: 600px;
            max-width: 1000px;
        }
    }
}