.container {
    background: #ffff;
    color: #39275B;
    height: 100%;
    width: 90%;
    margin: 10px auto;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
}


.swiper {
    width: 90vw;
    height: auto;
    margin: 20px auto;
}

div[class="swiper-button-prev"],
div[class="swiper-button-next"] {
    color: #39275B;
}

.imageWrapper {
    width: 100%;
    height: 400px;
    aspect-ratio: 3 / 4;
    /* book / artwork friendly */
    background: #f4f4f6;
    /* optional neutral backdrop */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imageWrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0;
}

.caption {
    text-align: start;
    margin-top: 20px;
    margin-left: 10px;
}

.description {
    font-size: 22px;
    line-height: 2;
}

@media only screen and (min-width: 1600px) {
    .swiper {
        width: 60vw;
    }
}