.container {
    background: #ffff;
    color: #39275B;
    height: 100%;
    width: 90%;
    margin: 20px auto;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
}

.box {
    width: 90%;
    overflow-y: scroll;
    margin: 0 auto;
    display: inline-block;
}

