.containerPreview {
    display: flex;
    flex-direction: column;
    border: 1px solid #39275B;
    border-radius: 35px;
    width: 350px;
    padding: 10px;
    text-align: center;

    .title {
        font-weight: 900;
    }
}

.btn {
    margin: auto;
    margin-top: 15px;
    width: 50%;
    padding: 10px 15px;
    background-color: #39275B;
    color: #ffff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}