.containerPreview {
    display: flex;
    flex-direction: row;
    background: #39275B;
    padding: 10px 10px;
    margin-top: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;

    img {
        display: inline-block;
        width: 60px;
        height: 80px;
    }
}

.containerPreview:hover {
    scale: 1.03;
    transition: all 0.8s ease-in-out;
}

.contentPreview {
    font-size: 14px;
    padding: 0 5px;
    margin-left: 5px;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
        margin-bottom: 8px;
    }
}

