.container {
    display: flex;
    flex-direction: column;
    background: #ffff;
    color: #39275B;
    height: 100%;
    margin: 10px auto;
    display: flex;
    padding: 0 50px;
    padding: 20px 15px;
    text-align: justify;
    line-height: 2;
}

.body {
    display: flex;
    flex-direction: column;
}

.postsContainer {
    margin-top: 30px;
    flex: 4;


}

.newsletterSignup {
    flex: 1;
}

.description {
    width: fit-content;
    margin: auto;
}

.divider {
    display: block;
    margin: 20px auto !important;
    width: 250px;
}
@media only screen and (min-width: 1600px) {
    .body {
        flex-direction: row;
    }

    .divider {
    display: none;
    }
}