    .container {
        background: #EFEEFC;
        color: #39275B;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;
        font-size: 20px;

        div{
            margin: 0 auto;
        }
    }