    .container {
        background: #EFEEFC;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100px;
        font-size: 22px;
        position: fixed;
        z-index: 1000;

        a {
            text-decoration: none !important;
            cursor: pointer;
        }

    }

    .title {
        color: #39275B;
        width: fit-content;
        margin-left: 20px;
    }

    .navigation {
        flex: 3;
    }

    .icons {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        justify-content: end;
        align-items: center;
        height: 100%;
        gap: 20px;

        .icon {
            color: #39275B;
            cursor: pointer;
        }

        .icon:hover {
            scale: 1.06;
            transition: all 0.4s ease-in-out;
        }


    }

    a {
        font-size: 24px !important;
    }

    .navigation {
        display: none;
    }


    .burgerMenu {
        display: block;
        margin-left: auto;
        margin-right: 20px;
        cursor: pointer;


        svg {
            font-size: 30px !important;
        }
    }


    @media only screen and (min-width: 1000px) {
        .container {
            height: 80px;
            font-size: 20px;
        }



        .title {
            font-size: 28px;
        }


        .navigation {
            display: block;
        }

        .burgerMenu {
            display: none;
        }
    }