    .container {
        background: #EFEEFC;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50px;
        font-size: 20px;

    }

    .title {
        color: #39275B;
        flex: 1;
        margin-left: 20px;
    }

    .navigation {
        flex: 2;
    }

    .icons {
        flex: 1;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        justify-content: end;
        align-items: center;
        height: 100%;
        gap: 20px;

        .icon {
            color: #39275B;
            cursor: pointer;
        }

        .icon:hover {
            scale: 1.06;
            transition: all 0.4s ease-in-out;
        }
    }

@media only screen and (min-width: 600px) {
    .navigation {
        flex: 5;
    }
}