.container {
    background: #ffff;
    color: #39275B;
    height: 100%;
    margin: 30px auto;
    display: flex;
    padding: 0 50px;
    padding-bottom: 15px;
    flex-direction: column;
    text-align: justify;
    line-height: 2;

    h1 {
        font-size: 40px;
        font-style: italic;
    }
}

.text{
    margin: 15px 0;
}
 
.readMoreBtn {
    margin-top: 15px;
    width: fit-content;
    padding: 10px 15px;
    background-color: #39275B;
    color: #ffff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.readMoreBtn:hover {
    scale: 1.03;
    transition: all 0.8s ease-in-out;
}


.pfp {
    width: 360px;
}


.divider {
    display: block;
    margin: 20px auto !important;
    width: 250px;
}

img {
    display: inline-block;
    margin-right: 15px;
}


.mainSection {
    flex: 3;


    .section {
        display: flex;
        flex-direction: row;

        .sectionContent {
            display: flex;
            flex-direction: column;
            margin-left: 20px;

        }
    }
}

.desktopView {
    display: none;
}

.mobileView {
    display: block;
    width: 100%;
    /*     background: #39275B; */
}

@media only screen and (min-width: 1600px) {
    .container {
        display: flex;
        flex-direction: row;
        font-size: 18px;

        h1 {
            font-size: 60px;
            font-style: italic;
        }
    }

    .desktopView {
        display: block;
        width: 90%;
        margin-left: auto;
    }

    .mobileView {
        display: none !important;
        background: red;
    }

    .recentPosts {
        flex: 1;

        .divider {
            display: none;
        }
    }

    .pfp {
        width: 250px;
    }


}