.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    a {
        font-size: 20px;
        color: white;
        text-decoration: none;
        margin: 10px 15px;
        cursor: pointer;
    }
}