.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    a {
        font-size: 20px;
        color: #434343;
        text-decoration: none;
        margin: 10px 50px;
        cursor: pointer;
    }

    a:hover{
        scale: 1.06;
        transition: all 0.4s ease-in-out;
    }
}