
.container{
    background: #ffff;
    color: #39275B;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 30px 0;
    flex-direction: column;

    h1 {
        font-size: 40px;
        font-style: italic;
    }
    main{
        display: flex;
        flex-direction: row;
    }

    img{
        display: inline-block;
        width: 200px;
        margin: 0 auto;
    }

    section{
        padding: 0 10px;
        position: fixed;
        right: 10px;
        top: 100px;
    }

    circle, path{
        fill: #755da3;
    }
}