.container {
    background: #ffff;
    color: #39275B;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;
    flex-direction: column;


    h2 {
        font-size: 30px;
        font-style: italic;
        padding: 5px !important;
    }

    main {
        display: flex;
        flex-direction: row;
        padding: 0 !important;

        img {
            display: block;
            width: 280px;
            margin: 0 auto;
        }
    }

    .divider {
        display: block;
        margin: 40px auto !important;
        width: 250px;
    }

    section {
        padding: 0 10px;
        position: fixed;
        right: 10px;
        top: 100px;
    }

    circle,
    path {
        fill: #755da3;
    }

    .quotes {
        line-height: 2;
        margin: 10px auto;
        font-style: italic;
        text-align: center;
        color: rgb(231, 14, 134);
    }
}