html,
body,
#root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

main{
  flex: 1;
  padding-top: 50px;
}

.unreleased {
  display: none;
}