html,
body,
#root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}