html,
body,
#root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: justify;
}

main {
  flex: 1;
  padding-top: 150px;
}

.unreleased {
  display: none;
}

a {
  text-decoration: none !important;
}

h3 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    font-style: italic;
}


@media only screen and (min-width: 1000px) {
  main {
    padding-top: 50px;
  }

}